.well
  - if can? :manage, @team
    .row-fluid
      .manage-button-wrapper
        = link_to t('teams.edit'), edit_team_path(@team), class: 'manage-button'
        = link_to t('teams.disband'), @team, method: :delete, data: { confirm: t('teams.disband_confirmation') }, class: 'manage-button'

  %h2= title @team.name
