.chat-wrapper.well.well-small
  .chat-messages
  .chat-form
    - if user_signed_in?
      - if can? :create, ChatMessage
        = text_field_tag :chat_message, "", class: "chat-form-input"
      - else
        .chat-not-signed-in= t("users.no_chat_anymore")
    - else
      .chat-not-signed-in= t("users.must_sign_in")
.spacer
