.span12
  .span1
  .span10
    .flashes
      - flash.each do |type, message|
        .alert.fade.in{:"data-dismiss" => "alert", class: "alert-#{flash_class(type)}"}
          %button.close ×
          = flash_icon type
          = message
  .span1
