.alert.alert-info
  %p
    Совсем недавно сайт был полностью переработан, все данные были перенесены, за исключением паролей,
    потому что мы их никогда не знали и не будем знать в дальнейшем.
  %p
    По этой причине Вам необходимо воспользоваться системой восстановления пароля на
    = link_to 'соответсвующей странице', new_user_password_path, class: 'btn btn-small'

  %p
    Если у Вас ранее не было учетной записи, Вы можете
    = link_to 'зарегистрировать', new_user_registration_path, class: 'btn btn-small'
    ee.
  %p
    А также можно
    = link_to 'авторизироваться', new_user_session_path, class: 'btn btn-small'
    , зная пароль, и, что самое важное,
    = link_to 'избавиться', hide_guest_instructions_path, method: :post, class: 'btn btn-small'
    от этого назойливого сообщения.

