common: &common
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 10
  host: localhost

development:
  <<: *common
  database: sc2_development
  username: root
  password: '123'

test:
  <<: *common
  database: sc2_test
  username: root
  password: '123'

production:
  <<: *common
  database: sc2_production
  username: root
  password: '123'

sc2_md: 
  adapter: sqlserver
  mode: dblib
  dataserver: dbserver.example.com
  database: db_name
  username: db_user
  password: password
  timeout: 5000
  encoding: utf8
