common: &common
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 10
  host: localhost

development:
  <<: *common
  database: sc2_development
  username: root
  password: '123'

test:
  <<: *common
  database: sc2_test
  username: root
  password: '123'

production:
  <<: *common
  database: sc2_production
  username: root
  password: '123'

