%h2= title t(:tag_cloud)
- if can?(:manage, Tag) && !manage?
  = link_to t(:manage_tags), tags_path(manage: 1), :class => "btn btn-success"

.clear

- if manage?
  = render 'manage_tags', tags: @tags

- else
  .tag-cloud
    - tag_cloud(Article.tag_counts_on(:tags), %w[css1 css2 css3 css4]) do |tg, css_class|
      = link_to tg.name, tagged_articles_path(tg.name), :class => css_class
