- @messages.each do |message|
  %div
    - if can? :destroy, message
      = link_to message, method: :delete, data: { confirm: t(:are_you_sure) } do
        %i.icon-trash
    %span.chat-user
      = succeed ":" do
        = link_to message.user.name, user_profile_path(message.user_username), title: l(message.created_at, format: :long), rel: "tooltip"
    %span.chat-message= message.body
