
.article-title {
  line-height: 54px;
}

span.unpublished {
  color: #9d261d;
}

a.deleted {
  text-decoration: line-through;
}

.read-more {
  a {
    font-weight: bold;
  }
  margin-bottom: 15px;
}
