// Place all the styles related to the our_friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.our-friends {
  padding: 0 10px 10px 10px;
  margin-top: -10px;
  text-align: center;
  h3 {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 5px 0;
  }
}
