// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.small-team {
  height: 70px;

  .team-link {
    padding-top: 5px;
    font-size: 1.3em;
  }
}

#team-members {
  .members-row {
    margin-left: 0;

    .member-tile {
      height: 100px;
      margin-bottom: 20px;

      .member-link {
        padding-top: 35px;
        text-align: center;
      }
    }
  }
}
