%p
  Добро пожаловать #{@resource.username}!
%p Вы можете подтвердить Вашу учетную запись воспользовавшись ссылкой приведенной ниже.
%p= link_to 'Поддтвердить учетную запись', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
