%p
  Привет #{@resource.username}!
%p Кто-то запросил ссылку для смены пароля и Вы можете сделать это воспользовавшить ссылкой ниже.
%p= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Если ссылку запросили не Вы, просто проигнорируйте это письмо.
%p Ваш пароль не будет изменен до тех пор, пока вы не перейдете по ссылке и не укажете новый.
