%p
  Привет #{@resource.username}!
%p Ваш аккаунт был заблокирован из-за чрезмерного количества неудачных попыток входа.
%p Кликни по ссылке ниже для того, чтобы разблокировать аккаунт:
%p= link_to 'Разблокировать аккаунт', unlock_url(@resource, :unlock_token => @token)
